# dotenv
.env
env

# virtualenv
virtualenv

# pycache
__pycache__
.pycache
.pyc

# any local xml or .xsd
.xml
.xsd

# .git
.git

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
